!Build/
*.bs
*.exe
*.o
*.tar.gz
*.zip
*sublime*
.last_cover_stats
/.build/
/_eumm/
/blib/
/Makefile
/Makefile.old
/MANIFEST.bak
/META.json
/META.yml
/MYMETA.*
/pm_to_blib
_build/
App-SFDC*
Build
Build.bat
cover_db/
inc/
nytprof.out
